<IfModule mod_rewrite.c>
    RewriteEngine On

    # Evitar bucles infinitos asegurando que la solicitud no apunte ya a /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>
