@page {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 2px solid #000;
    padding: 10px 0;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    z-index: 1;
    padding: 50px;
}
.header-left h2,
.header-left h3 {
    margin: 0;
    font-size: 16px;
}

.header-left p {
    margin: 0;
    font-size: 12px;
}

.header-right table {
    border-collapse: collapse;
    font-size: 12px;
}

.header-right td {
    border: 1px solid #000;
    padding: 2px;
}

.info table,
.solicitud table,
.usuarios table {
    width: 100%;
    border-collapse: collapse;
}


.descripcion h4,
.solicitud h4,
.usuarios h4 {
    margin: 0 0 10px 0;
    font-size: 14px;
}

/* mis estilos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    float: center;
    width: 3cm;
    margin-top: 1cm;
}


.header-right p,
td {
    text-align: center;
    font-size: 11px;
}

.folio {
    text-align: right;
    font-size: 14px;
    margin: 10px 0;
}

.info td,
.solicitud td,
.usuarios td,
.solicitud th,
.usuarios th {
    border: 1px solid #000000;
    padding: 5px;
    text-align: left;
    font-size: 12px;
}

/* .info {} */

.descripcion {
    border-collapse: collapse;
}

.solicitud th {
    text-align: center;
    font-size: medium;
    background-color: grey;
    color: #012542;
}

.usuarios {
    margin: 0 0 10px 0;
    font-size: 14px;
    /* background-color: grey; */

}

.u {
    margin: 0 0 10px 0;
    font-size: 14px;
    background-color: grey;

}

p,
.mayusculas {
    text-transform: uppercase;
}

.azul {
    color: #012542;
    font-size: medium;
}

.modulo {
    color: blue;
    text-transform: uppercase;
}

.negritas {
    font-weight: bold;
}
.evidence{
    image-rendering: auto;
    max-width: 100px;
    height: auto;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background img {
    width: 103%;
    height: 103%;
    margin: -2%;
    object-fit: cover;
}



